<!DOCTYPE html>
<html lang="en">
  <head>
    <title>InstaBuddy @<%= channel %> / <%= button.name %></title>

    <meta charset="UTF-8">
    <meta name="description" content="InstaBuddy @<%= channel %> / <%= button.name %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Icons. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles. -->
    <!-- build:css /button.min.css -->
    <link rel="stylesheet" href="/css/button-animations.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <!-- endbuild -->

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83250562-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-83250562-8');
    </script>
  </head>
  <body onkeydown="app.onKey(event.keyCode)" class="center">
    <div id="error"></div>
    <div id="background">
      <div class="background-text">InstaBuddy</div>
    </div>

    <div id="buttons" onclick="app.onButtonClick(event)">
      <div id="btn-<%= button.id %>" data-id="<%= button.id %>" class="btn color1">
        <p class="ellipsis"><%= button.name %></p>
        <div class="button-actions">
          <i title="Download" class="download" onclick="app.download(event, <%= button.id %>)">💾</i>
        </div>
      </div>
    </div>

    <audio></audio>
    <a id="download"></a>

    <script>const mode = 'standalone'</script>
    <!-- build:js /button.min.js -->
    <script src="/js/el.js"></script>
    <script src="/js/events.js"></script>
    <script src="/js/app.js"></script>
    <!-- endbuild -->

    <script>
      const button = {
        id: '<%= button.id %>',
        name: '<%= button.name %>',
        src: '<%= button.src %>'
      }
      app.addAudio('<%= button.id %>', button)
    </script>
  </body>
</html>
