<!DOCTYPE html>
<html lang="en">
  <head>
    <title>InstaBuddy 404 @<%= channel %></title>

    <meta charset="UTF-8">
    <meta name="description" content="InstaBuddy 404 @<%= channel %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Icons. -->
    <% include partials/icons.html %>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83250562-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-83250562-8');
    </script>
  </head>
  <body onkeydown="app.onKey(event.keyCode)" class="center">
    <div id="error"></div>
    <div id="background">
      <div class="background-text">InstaBuddy<br><em>Not Found<em></div>
    </div>
  </body>
</html>
