<div class="help">
  <h2>Adding a new Instant Button:</h2>
  <ul>
    <li>1- Click +</li>
    <li>2- Input button’s name (it supports unicode! Chinese chars and kanji allowed!)</li>
    <li>3- Click newly added button: will *immediately* start recording 3s of audio</li>
  </ul>

  After that you can listen to your new button by clicking on it.
  You can <em>delete it</em>, <em>download it</em>, <em>share it</em> ;)

  <b>An extra feature:</b>
  People on the same channel trigger broadcast events of the buttons they play!
</div>
