<!-- Facebook. -->
<meta property="og:title" content="<%= openGraph.title %>" />
<meta property="og:site_name" content="<%= openGraph.title %>"/>
<meta property="og:url" content="<%= openGraph.url %>" />
<meta property="og:type" content="music.song" />
<meta property="og:image" content="<%= openGraph.image %>" />
<meta property="og:description" content="<%= openGraph.description %>" />
<meta property="og:audio" content="<%= openGraph.audioUrl %>" />
<meta property="og:audio:type" content="audio/vnd.facebook.bridge" />
<meta property="music:preview_url:secure_url" content="<%= openGraph.audioUrl %>" />
<meta property="music:preview_url:type" content="audio/webm" />
<link rel="image_src" href="<%= openGraph.image %>" />

<!-- Twitter. -->
<meta name="twitter:card" content="audio">
<meta name="twitter:creator" content="<%= openGraph.username %>">
<meta name="twitter:title" content="<%= openGraph.title %>">
<meta name="twitter:description" content="<%= openGraph.description %>">
<meta name="twitter:image" content="<%= openGraph.image %>">
<meta name="twitter:url" content="<%= openGraph.url %>">
<meta name="twitter:player" content="<%= openGraph.url %>">
<meta name="twitter:player:width" content="584">
<meta name="twitter:player:height" content="504">
<meta name="twitter:player:stream" content="<%= openGraph.audioUrl %>">
<meta name="twitter:player:stream:content_type" content="audio/webm">
