@keyframes ripple1 {
  0% {
    width: 40vw;
    height: 40vw;
    left: -4px;
    top: -4px;
    opacity: 1;
  }

  50% {
    width: 41vw;
    height: 41vw;
    left: -9px;
    top: -8px;
    opacity: 0;
  }

  100% {
    width: 40vw;
    height: 40vw;
    left: -4px;
    top: -4px;
  }
}

@keyframes ripple2 {
  0% {
    width: 40vw;
    height: 40vw;
    border-width: 5px;
    top: -5px;
    left: -5px;
    opacity: 1;
  }

  50% {
    width: 41vw;
    height: 41vw;
    border-width: 10px;
    top: -14px;
    left: -15px;
    opacity: 0;
  }

  100% {
    width: 40vw;
    height: 40vw;
    border-width: 5px;
    top: -5px;
    left: -5px;
    opacity: 1;
  }
}

