.color1 {
  background-color: #abb2fc;
}

.color2 {
  background-color: #ff9b9b;
}

.color3 {
  background-color: #99ffc6;
}

.color4 {
  background-color: #fbffa3;
}

.color5 {
  background-color: #ffc878;
}

.color6 {
  background-color: #bfff00;
}

.color7 {
  background-color: #828be0;
}

.color8 {
  background-color: #00c4b7;
}
