body {
  font: 18px arial;
  background: black;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn i {
  font-size: 20px;
  font-style: normal;
}

.btn i.download {
  margin: 0 3px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn.btn-big {
  width: 40vw;
  height: 40vw;
}

.btn p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 22px;
  text-align: center;
  pointer-events: none;
}

.add {
  font-size: 40px;
}

.add p {
  height: 40px;
}

.empty {
  background-color: #111 !important;
  color: #444;
  border: 1px solid #444;
}

.empty:hover .download,
.empty:hover .share {
  display: none;
}

.btn.recording {
  background: red !important;
  color: white;
  border: 1px solid white;
  opacity: 1;
}

.btn.playing {
  border: 1px solid white;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-text {
  z-index: 0;
  font-weight: bold;
  color: #111;
  font-size: 12vw;
  text-align: center;
  cursor: default;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error {
  display: none;
  position: absolute;
  padding: 20px;
  top: 10px;
  background: red;
  color: white;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10px;
  border-radius: 2px;
}

.prophet {
  bottom: 0;
}

#drop {
  background: rgba(0, 0, 0, 0.9);
  color: #222;
  display: none;
}
